{% extends "ASFWebsiteBundle::backend_layout.html.twig" %}

{% trans_default_domain 'asf_website' %}

{% block breadcrumbs_tree %}
{{ parent() }}
 > <a href="{{ path('asf_website_menu_homepage') }}" title="{{ 'Menus Manager'|trans }}">{{ 'Menus Manager'|trans }}</a>
{% endblock %}

{% block header %}
<div class="jumbotron">
	<h1>{% block heading_title %}{{ 'Menus Manager'|trans }}{% endblock %}</h1>
	<p class="lead">{% block heading_lead %}This section is for manager items in your website menus.{% endblock %}</p>
	{% block heading_action_btn %}{% endblock %}
</div>
{% endblock %}

{% block content %}
<div class="row marketing">
	<div class="col-sm-6 placeholder">
		<h4>Primary Menu</h4>
		<p>This is the primary menu of the website.</p>
		<a href="{{ path('asf_website_menu_edit', {id: 'primary-menu'}) }}" class="btn btn-primary">{{ 'Manage'|trans }}</a>
	</div>
</div>
{% endblock %}