{# --------------------------------- Group Parameter Form Type --------------------------------- #}
{% block _website_group_parameter_type_errors %}
{% spaceless %}
	{{ block('form_errors')  }}
{% endspaceless %}
{% endblock %}

{% block _website_group_parameter_type_widget %}
{% spaceless %}

	{{ form_errors(form) }}

	<div class="row">
		<div class="col-xs-8">
			{{ form_row(form.name) }}
		</div>
		<div class="col-xs-4">
			{{ form_row(form.alias) }}
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			{{ form_row(form.parameters) }}
		</div>
	</div>

	<input type="submit" class="btn btn-primary" alue="Save" />
{% endspaceless %}
{% endblock %}